{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock head %}
    {% block javascripts %}
    <script src="https://kit.fontawesome.com/1cf483120b.js" crossorigin="anonymous"></script>
    {% endblock javascripts %}
    {% block stylesheets %}
    <link rel="stylesheet" href="../static/login.css"/> 
    {% endblock stylesheets %}
    {% block title %} <title>sign-up page</title> {% endblock title %}

    {% block content %}
        <div class="header">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <label for="openSidebarMenu" class="sidebarIconToggle">
          <div class="spinner diagonal part-1"></div>
          <div class="spinner horizontal"></div>
          <div class="spinner diagonal part-2"></div>
        </label>
        <div id="sidebarMenu">
          <ul class="sidebarMenuInner">
            <li>Horizon Fakoya <span>Owner</span></li>
            <li><a href="" target="_blank">#</a></li>
            <li><a href="/Login" target="_blank">Login</a></li>
            <li><a href="/index" target="_blank">Home</a></li>
          </ul>
        </div>
        
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" method="post" action="/signup_register">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Username" required>
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" name="Confirm Username" placeholder="Confirm Username" required>
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password" required>
                    </div>

                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" name="Confirm Password" placeholder="Confirm Password" required>
                    </div>
                    
                    <button class="button login__submit">
                        <span class="button__text">sign-up Now</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
                
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    {% endblock content %}
